* { 
    padding: 0px;
    margin: 0px;
}
@media only screen and (max-width:480px){
    .wrapper{
        display: flex;
        justify-content: center;
    }
    .profile-card {
        justify-content: center;
        background-color: rgba(240, 240, 240, 0.26);
        backdrop-filter: blur(5px);
        width: 85%;
        height: fit-content;
        position: relative;
        top: 25px;
        border-radius: 10%;
    }
        @keyframes bio-img-animation {
            50% {
                border-color: rgba(74, 74, 173, 0.849);
            }
        }
        #bio-img{
            width: 30%;
            border-radius: 50% 50%;
            border:solid 2px;
            animation: bio-img-animation 1s infinite;
            margin: 2%;
        }
        .bio-name{
            padding: 1px;
            width: fit-content;
            position: relative;
            left: 32.5%;
            height:min-content;
            bottom: 120px;
        }
        #name {
            font-size: calc(1rem + .1vw);
        }
        .social-media{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 120px;
        }
        .link{
            width: min-content;
            height: min-content;
            position: relative;
            left: 4%;
            position: absolute;
        }
            #gmail{
                width: 8.5vh;
            }
        .link-2{
            width: min-content;
            height: min-content;
            position: relative;
            left: 30%;
            position: absolute;
        }
            #whatsapp{
                width: 5vh;
            }
        .link-3{
            width: min-content;
            height: min-content;
            position: relative;
            left: 50%;
            position: absolute;
        }
            #github{
                width: 5.5vh;
            }
        .link-4{
            width: min-content;
            height: min-content;
            position: relative;
            left: 72%;
            position: absolute;
        }
            #linkedin{
                width: 5.3vh;
            }
        .social-media-2{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 75px;
        }
            .link-5{
                width: min-content;
                height: min-content;
                position: relative;
                left: 20%;
                position: absolute;
            }
            #ig{
                width: 5vh;
            }
            .link-6{
                width: min-content;
                height: min-content;
                position: relative;
                left: 40%;
                position: absolute;
            }
            #upwork{
                width: 5vh;
                border-radius: 50%;
            }
            .link-7{
                width: min-content;
                height: min-content;
                position: relative;
                left: 60%;
                position: absolute;
            }
            #youtube{
                width: 5vh;
            }
        .content{
            width: 90%;
            height: fit-content;
            position: relative;
            left: 5%;
            bottom: 20px;
        }
        h3 {
            position: relative;
            top: 5px;
            font-family: cursive;
        }
        #skill-title{
            font-weight:bolder; 
            font-size:1.9vh; 
            text-align:center;
            width: 100%;
        }
        #list-category{
            font-size: 1.5vh;
            font-weight: bold;
        }
        li {
            font-size: 1.5vh;
        }
        #github-2{
            position: relative;
            left: 25%;
            width: 25%;
        }
    }







/* mobile landscape / tablet portrait */
@media only screen and (max-width:768px){
}

/* tablet landscape */ 
@media only screen and (max-width:1024px){
    
}

/* Laptop Screen */
@media only screen and (min-width:768px){
    
}

/* Monitor Screen*/

@media only screen and (min-width:1440px){
    
}

@media only screen and (min-width:1920px){
    
}