* { 
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}


/* Small phones line iPhone 5 SE */
@media screen and (max-width:374px) {
    .wrapper{
        display: flex;
        justify-content: center;
    }
    .profile-card {
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.467);
        backdrop-filter: blur(7px);
        width: 85%;
        height: fit-content;
        position: relative;
        top: 25px;
        border-radius: 10%;
    }
        @keyframes bio-img-animation {
            50% {
                border-color: rgba(74, 74, 173, 0.849);
            }
        }
        #bio-img{
            width: 30%;
            border-radius: 50% 50%;
            border:solid 2px;
            animation: bio-img-animation .5s infinite;
            margin: 2%;
        }
        .bio-name{
            padding: 1px;
            width: fit-content;
            position: relative;
            left: 32.5%;
            height:min-content;
            bottom: 100px;
        }
        #name {
            font-family: 'Times New Roman', Times, serif;
            font-size: calc(.8rem + .8vw);
        }
        .social-media{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 100px;
        }
        .link{
            width: min-content;
            height: min-content;
            position: relative;
            left: 4%;
            position: absolute;
        }
            #gmail{
                width: 8.5vh;
            }
        .link-2{
            width: min-content;
            height: min-content;
            position: relative;
            left: 30%;
            position: absolute;
        }
            #whatsapp{
                width: 5vh;
            }
        .link-3{
            width: min-content;
            height: min-content;
            position: relative;
            left: 50%;
            position: absolute;
        }
            #github{
                width: 5.5vh;
            }
        .link-4{
            width: min-content;
            height: min-content;
            position: relative;
            left: 72%;
            position: absolute;
        }
            #linkedin{
                width: 5.3vh;
            }

        .social-media-2{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 60px;
        }
            .link-5{
                width: min-content;
                height: min-content;
                position: relative;
                left: 10%;
                position: absolute;
            }
            #ig{
                width: 5vh;
            }
            .link-6{
                width: min-content;
                height: min-content;
                position: relative;
                left: 30%;
                position: absolute;
            }
            #upwork{
                width: 5vh;
                border-radius: 20%;
            }
            .link-7{
                width: min-content;
                height: min-content;
                position: relative;
                left: 50%;
                bottom: -35px;
                position: absolute;
            }
            #youtube{
                width: 7vh;
            }
            .link-8{
                width: min-content;
                height: min-content;
                position: relative;
                left: 72%;
                bottom: -30px;
                position: absolute;
            }
            #SO{
                width: 5vh;
            }
        #section-label-1{
            position: relative;
            left: 20%;
        }
        #section-label-2{
            position: relative;
            top:5px;
            left: 30%;
        }
        #section-label-3{
            position: relative;
            left: 25%;
        }
        .content{
            width: 90%;
            height: fit-content;
            position: relative;
            left: 5%;
            bottom: 20px;
        }
        .accordion-item {
            background-color: rgba(255, 255, 255, 0);
        }
        h3 {
            position: relative;
            top: 5px;
            font-family:'Times New Roman', Times, serif;
        }
        #skill-title{
            font-weight:bolder; 
            font-size:3vh; 
            text-align:center;
            width: 100%;
        }
        #p-emoji{
            display: flex;
            justify-content: center;
            font-size: 10vh;
            height: min-content;
        }
        li {
            font-size: 2vh;
        }
        .gifs{
            height: 25vh;
        }
        #yellow-gif{
            position: relative;
            bottom: 495px;
            right: 35%;
            width: 55%;
        }
        #fish-gif{
            width: 90%;
            position: relative;
            left: 10%;
            bottom: 155px;
            z-index: -1;
        }
        #floor-sign{
            width: 40%;
            position: relative;
            bottom: 265px;
        }
        #flush-collapseTwo{
            height: 132vh;
        }
        #button-2{
            position: relative;
            bottom: 15px;
        }
        #button-3{
            position: relative;
            bottom: 24px;
        }
        .category{
            font-weight: bold;
        }
        #resume-pdf{
            font-size:2vh;
        }
        #make-top{
            position: relative;
            bottom: 210px;
            left: 20%;
            z-index: +2;
        }
        .projects{
            font-size: 2.4vh;
        }

        .git-clone{
            display: none;
        }
        .game{
            position: relative;
            bottom: 250px;
        }
        .splatter{
            width: 10%;
            display: inline;
        }

}















/* Regular phones like Iphone X + */
@media only screen and (min-width:375px){
    .wrapper{
        display: flex;
        justify-content: center;
    }
    .profile-card {
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.467);
        backdrop-filter: blur(7px);
        width: 85%;
        height: fit-content;
        position: relative;
        top: 25px;
        border-radius: 10%;
    }
        @keyframes bio-img-animation {
            50% {
                border-color: rgba(74, 74, 173, 0.849);
            }
        }
        #bio-img{
            width: 30%;
            border-radius: 50% 50%;
            border:solid 2px;
            animation: bio-img-animation .5s infinite;
            margin: 2%;
        }
        .bio-name{
            padding: 1px;
            width: fit-content;
            position: relative;
            left: 32.5%;
            height:min-content;
            bottom: 100px;
        }
        #name {
            font-size: calc(1rem + .8vw);
        }
        .social-media{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 105px;
        }
        .link{
            width: min-content;
            height: min-content;
            position: relative;
            position: absolute;
        }
            #gmail{
                width: 8.5vh;
            }
        .link-2{
            width: min-content;
            height: min-content;
            position: relative;
            left: 28%;
            position: absolute;
        }
            #whatsapp{
                width: 5vh;
            }
        .link-3{
            width: min-content;
            height: min-content;
            position: relative;
            left: 50%;
            position: absolute;
        }
            #github{
                width: 5.5vh;
            }
        .link-4{
            width: min-content;
            height: min-content;
            position: relative;
            left: 72%;
            position: absolute;
        }
            #linkedin{
                width: 5.3vh;
            }

        .social-media-2{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 56px;
        }
        .link-5{
            width: min-content;
            height: min-content;
            position: relative;
            left: 5%;
            position: absolute;
        }
        #ig{
            width: 5vh;
        }
        .link-6{
            width: min-content;
            height: min-content;
            position: relative;
            left: 28%;
            position: absolute;
        }
        #upwork{
            width: 5vh;
            border-radius: 20%;
        }
        .link-7{
            width: min-content;
            height: min-content;
            position: relative;
            left: 47%;
            bottom: -50px;
            position: absolute;
        }
        #youtube{
            width: 7vh;
        }
        .link-8{
            width: min-content;
            height: min-content;
            position: relative;
            left: 72%;
            bottom: -45px;
            position: absolute;
        }
        #SO{
            width: 5vh;
        }
        #section-label-1{
            position: relative;
            left: 25%;
        }
        #section-label-2{
            position: relative;
            left: 30%;
        }
        #section-label-3{
            position: relative;
            left: 25%;
        }
        #p-emoji{
            display: flex;
            justify-content: center;
            font-size: 10vh;
            height: min-content;
        }
        .content{
            width: 90%;
            height: fit-content;
            position: relative;
            left: 5%;
            bottom: 20px;
        }
        h3 {
            position: relative;
            top: 5px;
            font-family: 'Times New Roman', Times, serif;
        }
        #skill-title{
            font-weight:bolder; 
            font-size:2.5vh; 
            text-align:center;
            width: 100%;
        }
        li {
            font-size: 1.9vh;
        }
        .gifs{
            height: 25vh;
        }
        #yellow-gif{
            position: relative;
            bottom: 495px;
            right: 35%;
            width: 55%;
        }
        #fish-gif{
            width: 90%;
            position: relative;
            left: 10%;
            bottom: 155px;
            z-index: +1;
        }
        #floor-sign{
            width: 40%;
            position: relative;
            bottom: 265px;
        }
        
        #flush-collapseTwo{
            height: 117vh;
        }
        .category{
            font-weight: bold;
        }
        #resume-pdf{
            position: relative;
            top: 25px;
            font-size:2vh;
        }
        .projects{
            font-size: 2.15vh;
        }

        .git-clone{
            display: none;
        }

    }




/*mobile landscape is not needed since there isn't features like videos 

@media only screen and (min-width:480px){

}
*/


/* tablet portrait */
@media only screen and (min-width:768px){
    .wrapper{
        display: flex;
        justify-content: center;
    }
    .profile-card {
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.467);
        backdrop-filter: blur(7px);
        width: 85%;
        height: fit-content;
        position: relative;
        top: 25px;
        border-radius: 10%;
    }
        @keyframes bio-img-animation {
            50% {
                border-color: rgba(74, 74, 173, 0.849);
            }
        }
        #bio-img{
            width: 30%;
            border-radius: 50% 50%;
            border:solid 2px;
            animation: bio-img-animation .5s infinite;
            margin: 2%;
        }
        .bio-name{
            padding: 1px;
            width: fit-content;
            position: relative;
            left: 32.5%;
            height:min-content;
            bottom: 100px;
        }
        #name {
            font-size: calc(2rem + .8vw);
            position: relative;
            bottom: 100px;
        }
        .social-media{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 195px;
        }
        .link{
            width: min-content;
            height: min-content;
            position: relative;
            left: 4%;
            position: absolute;
        }
            #gmail{
                width: 12.5vh;
            }
        .link-2{
            width: min-content;
            height: min-content;
            position: relative;
            left: 31.5%;
            position: absolute;
        }
            #whatsapp{
                width: 6.5vh;
            }
        .link-3{
            width: min-content;
            height: min-content;
            position: relative;
            left: 50%;
            position: absolute;
        }
            #github{
                width: 7vh;
            }
        .link-4{
            width: min-content;
            height: min-content;
            position: relative;
            left: 72%;
            position: absolute;
        }
            #linkedin{
                width: 7.3vh;
            }

        .social-media-2{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 105px;
        }
            .link-5{
                width: min-content;
                height: min-content;
                position: relative;
                left: 10%;
                position: absolute;
            }
            #ig{
                width: 7vh;
            }
            .link-6{
                width: min-content;
                height: min-content;
                position: relative;
                left: 30%;
                position: absolute;
            }
            #upwork{
                width: 7vh;
                border-radius: 50%;
            }
            .link-7{
                width: min-content;
                height: min-content;
                position: relative;
                left: 47%;
                top: -15px;
                position: absolute;
            }
            #youtube{
                width: 10vh;
            }
            .link-8{
                width: min-content;
                height: min-content;
                position: relative;
                left: 72%;
                bottom: -65px;
                position: absolute;
            }
            #SO{
                width: 5.5vh;
            }
        #section-label-1{
            position: relative;
            left: 35%;
            font-size: 4vh;
        }
        #section-label-2{
            position: relative;
            left: 40%;
            font-size: 4vh;
        }
        #section-label-3{
            position: relative;
            left: 35%;
            font-size: 4vh;
        }
        #p-emoji{
            display: flex;
            justify-content: center;
            font-size: 45px;
            height: min-content;
        }
        .content{
            width: 90%;
            height: fit-content;
            position: relative;
            left: 5%;
            bottom: 20px;
        }
        h3 {
            position: relative;
            top: 5px;
            font-family: 'Times New Roman', Times, serif;
        }
        #skill-title{
            font-weight:bolder; 
            font-size: calc(2rem + 1vw); 
            text-align:center;
            width: 100%;
            height: min-content;
        }
        li {
            font-size:2.5vh;
            position: relative;
            left: 5%;
        }
        .gifs{
            height: 25vh;
        }
        #yellow-gif{
            position: relative;
            bottom: 1050px;
            left: 50%;
            width: 55%;
        }
        #fish-gif{
            width: 45%;
            position: relative;
            left: 60%;
            bottom: 576px;
            z-index: +1;
        }
        #floor-sign{
            width: 20%;
            position: relative;
            bottom: 553px;
        }
        
        #flush-collapseTwo{
            height: 123vh;
        }
        .category{
            font-weight: bold;
        }
        #resume-pdf{
            position: relative;
            left: 3%;
            bottom: 30px;
            font-size:3.5vh;
        }
        .projects{
            font-size: 2.15vh;
        }

        .git-clone{
            display: none;
        }
        .project-section{
            font-size: 2.25rem;
        }

}





/* tablet landscape */ 
@media only screen and (min-width:1024px){
    .wrapper{
        display: flex;
        justify-content: center;
    }
    .profile-card {
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.467);
        backdrop-filter: blur(7px);
        width: 85%;
        height: fit-content;
        position: relative;
        top: 25px;
        border-radius: 10%;
    }
        @keyframes bio-img-animation {
            50% {
                border-color: rgba(74, 74, 173, 0.849);
            }
        }
        #bio-img{
            width: 30%;
            border-radius: 50% 50%;
            border:solid 2px;
            animation: bio-img-animation .5s infinite;
            margin: 2%;
        }
        .bio-name{
            padding: 1px;
            width: fit-content;
            position: relative;
            left: 32.5%;
            height:min-content;
            bottom: 150px;
        }
        #name {
            font-size: calc(2.5rem + 1vw);
            position: relative;
            bottom: 100px;
        }
        .social-media{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 255px;
        }
        .link{
            width: min-content;
            height: min-content;
            position: relative;
            left: 4%;
            position: absolute;
        }
            #gmail{
                width: 13vh;
                position: relative;
                bottom: 10px;
            }
        .link-2{
            width: min-content;
            height: min-content;
            position: relative;
            left: 31.5%;
            position: absolute;
        }
            #whatsapp{
                width: 6.5vh;
            }
        .link-3{
            width: min-content;
            height: min-content;
            position: relative;
            left: 50%;
            position: absolute;
        }
            #github{
                width: 7vh;
            }
        .link-4{
            width: min-content;
            height: min-content;
            position: relative;
            left: 72%;
            position: absolute;
        }
            #linkedin{
                width: 7.3vh;
            }

        .social-media-2{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 130px;
        }
            .link-5{
                width: min-content;
                height: min-content;
                position: relative;
                left: 10%;
                position: absolute;
            }
            #ig{
                width: 7vh;
            }
            .link-6{
                width: min-content;
                height: min-content;
                position: relative;
                left: 30%;
                position: absolute;
            }
            #upwork{
                width: 7vh;
                border-radius: 50%;
            }
            .link-7{
                width: min-content;
                height: min-content;
                position: relative;
                left: 47%;
                top: -15px;
                position: absolute;
            }
            #youtube{
                width: 10vh;
            }
            .link-8{
                width: min-content;
                height: min-content;
                position: relative;
                left: 72%;
                bottom: -95px;
                position: absolute;
            }
            #SO{
                width: 6.5vh;
            }
        #section-label-1{
            position: relative;
            left: 35%;
            font-size: 4vh;
        }
        #section-label-2{
            position: relative;
            left: 40%;
            font-size: 4vh;
        }
        #section-label-3{
            position: relative;
            left: 35%;
            font-size: 4vh;
        }
        #p-emoji{
            display: flex;
            justify-content: center;
            font-size: 45px;
            height: min-content;
        }
        .content{
            width: 90%;
            height: fit-content;
            position: relative;
            left: 5%;
            bottom: 20px;
        }
        h3 {
            position: relative;
            top: 5px;
            font-family: 'Times New Roman', Times, serif;
        }
        #skill-title{
            font-weight:bolder; 
            font-size: calc(2rem + 1vw); 
            text-align:center;
            width: 100%;
            height: min-content;
        }
        li {
            font-size:2.5vh;
            position: relative;
            left: 5%;
        }
        .gifs{
            height: 25vh;
        }
        #yellow-gif{
            position: relative;
            bottom: 1400px;
            left: 50%;
            width: 68%;
        }
        #fish-gif{
            width: 45%;
            position: relative;
            left: 60%;
            bottom: 840px;
            z-index: +1;
        }
        #floor-sign{
            width: 20%;
            position: relative;
            bottom: 780px;
        }
        
        #flush-collapseTwo{
            height: 117vh;
        }
        .category{
            font-weight: bold;
        }
        #resume-pdf{
            position: relative;
            left: 3%;
            bottom: 30px;
            font-size:3.5vh;
        }
        .projects{
            font-size: 2.15vh;
        }

        .git-clone{
            display: none;
        }
        .project-section{
            font-size: 2.25rem;
        }
}

/*Small Monitor Screen */
@media only screen and (min-width:1280px){
    .wrapper{
        display: flex;
        justify-content: center;
    }
    .profile-card {
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.467);
        backdrop-filter: blur(7px);
        width: 30%;
        height: fit-content;
        position: relative;
        top: 25px;
        border-radius: 10%;
    }
        @keyframes bio-img-animation {
            50% {
                border-color: rgba(74, 74, 173, 0.849);
            }
        }
        #bio-img{
            width: calc(10vh + 2vw);
            border-radius: 50% 50%;
            border:solid 2px;
            animation: bio-img-animation .5s infinite;
            margin: 2%;
            position: relative;
            left: 4%;
        }
        .bio-name{
            padding: 1px;
            width: fit-content;
            position: relative;
            left: 32.5%;
            height:min-content;
            bottom: 100px;
        }
        #name {
            font-size: calc(1.3rem + .6vw);
            position: relative;
            bottom: -95px;
            right: 30%;
            font-weight: bolder;
        }
        .social-media{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 165px;
        }
        .link{
            width: min-content;
            height: min-content;
            position: relative;
            left: 4%;
            top:7px;
            position: absolute;
        }
            #gmail{
                width: 11vh;
            }
        .link-2{
            width: min-content;
            height: min-content;
            position: relative;
            left: 31.5%;
            position: absolute;
        }
            #whatsapp{
                width: 6vh;
            }
        .link-3{
            width: min-content;
            height: min-content;
            position: relative;
            left: 50%;
            position: absolute;
        }
            #github{
                width: 6.2vh;
            }
        .link-4{
            width: min-content;
            height: min-content;
            position: relative;
            left: 72%;
            position: absolute;
        }
            #linkedin{
                width: 6.3vh;
            }

        .social-media-2{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 110px;
        }
            .link-5{
                width: min-content;
                height: min-content;
                position: relative;
                left: 9%;
                position: absolute;
            }
            #ig{
                width: 7vh;
            }
            .link-6{
                width: min-content;
                height: min-content;
                position: relative;
                left: 30%;
                position: absolute;
            }
            #upwork{
                width: 7vh;
                border-radius: 50%;
            }
            .link-7{
                width: min-content;
                height: min-content;
                position: relative;
                left: 50%;
                top: -10px;
                position: absolute;
            }
            #youtube{
                width: 10vh;
            }
            .link-8{
                width: min-content;
                height: min-content;
                position: relative;
                left: 78%;
                bottom: -50px;
                position: absolute;
            }
            #SO{
                width: 5.5vh;
            }
            #section-label-1{
                position: relative;
                left: 30%;
                font-size: 4vh;
                font-weight:lighter;
            }
            #section-label-2{
                position: relative;
                left: 38%;
                font-size: 4vh;
                font-weight: lighter;
            }
            #section-label-3{
                position: relative;
                left: 33%;
                font-size: 4vh;
                font-weight: lighter;
            }
            #p-emoji{
            display: flex;
            justify-content: center;
            font-size: 45px;
            height: min-content;
        }
        .content{
            width: 90%;
            height: fit-content;
            position: relative;
            left: 5%;
            bottom: 20px;
        }
        h3 {
            position: relative;
            top: 5px;
            font-family: 'Times New Roman', Times, serif;
        }
        #skill-title{
            font-weight: bolder;
            font-size: calc(1rem + 1vw);
            text-align: center;
            width: 100%;
            height: min-content;
        }
        li {
            font-size:2vh;
            position: relative;
            left: 5%;
        }
        .gifs{
            height: 25vh;
        }
        #yellow-gif{
            position: relative;
            bottom: 639px;
            left: 50%;
            width: 80%;
        }
        #fish-gif{
            width: 65%;
            position: relative;
            left: 60%;
            bottom: 430px;
            z-index: -1;
        }
        #floor-sign{
            width: 25%;
            position: relative;
            bottom: 400px;
            right: 8%;
            z-index: -2;    
        }
        
        #flush-collapseTwo{
            height: 102vh;
        }
        .category{
            font-weight: bold;
        }
        #resume-pdf{
            position: relative;
            left: 3%;
            font-size:2.5vh;
        }
        #make-top{
            position: absolute
        }
        .projects{
            font-size: 2vh;
        }
        .git-clone{
            display: contents;
        }
        .project-section{
            font-size: 1.25rem;
        }
        .project-list{
            width: fit-content;
        }
}

/* Medium Monitor Screen*/

@media only screen and (min-width:1440px){
    .wrapper{
        display: flex;
        justify-content: center;
    }
    .profile-card {
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.467);
        backdrop-filter: blur(7px);
        width: 30%;
        height: fit-content;
        position: relative;
        top: 25px;
        border-radius: 10%;
    }
        @keyframes bio-img-animation {
            50% {
                border-color: rgba(74, 74, 173, 0.849);
            }
        }
        #bio-img{
            width: calc(10vh + 2vw);
            border-radius: 50% 50%;
            border:solid 2px;
            animation: bio-img-animation .5s infinite;
            margin: 2%;
            position: relative;
            left: 4%;
        }
        .bio-name{
            padding: 1px;
            width: fit-content;
            position: relative;
            left: 32.5%;
            height:min-content;
            bottom: 100px;
        }
        #name {
            font-size: calc(1.3rem + .6vw);
            position: relative;
            bottom: -89px;
            right: 30%;
            font-weight: bolder;
        }
        .social-media{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 165px;
        }
        .link{
            width: min-content;
            height: min-content;
            position: relative;
            left: 4%;
            top:7px;
            position: absolute;
        }
            #gmail{
                width: 11vh;
            }
        .link-2{
            width: min-content;
            height: min-content;
            position: relative;
            left: 31.5%;
            position: absolute;
        }
            #whatsapp{
                width: 6vh;
            }
        .link-3{
            width: min-content;
            height: min-content;
            position: relative;
            left: 50%;
            position: absolute;
        }
            #github{
                width: 6.2vh;
            }
        .link-4{
            width: min-content;
            height: min-content;
            position: relative;
            left: 72%;
            position: absolute;
        }
            #linkedin{
                width: 6.3vh;
            }

        .social-media-2{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 110px;
        }
            .link-5{
                width: min-content;
                height: min-content;
                position: relative;
                left: 9%;
                position: absolute;
            }
            #ig{
                width: 7vh;
            }
            .link-6{
                width: min-content;
                height: min-content;
                position: relative;
                left: 30%;
                position: absolute;
            }
            #upwork{
                width: 7vh;
                border-radius: 50%;
            }
            .link-7{
                width: min-content;
                height: min-content;
                position: relative;
                left: 50%;
                top: -10px;
                position: absolute;
            }
            #youtube{
                width: 10vh;
            }
            .link-8{
                width: min-content;
                height: min-content;
                position: relative;
                left: 75%;
                bottom: -44px;
                position: absolute;
            }
            #SO{
                width: 5.5vh;
            }
            #section-label-1{
                position: relative;
                left: 30%;
                font-size: 4vh;
                font-weight:lighter;
            }
            #section-label-2{
                position: relative;
                left: 38%;
                font-size: 4vh;
                font-weight: lighter;
            }
            #section-label-3{
                position: relative;
                left: 33%;
                font-size: 4vh;
                font-weight: lighter;
            }
            #p-emoji{
            display: flex;
            justify-content: center;
            font-size: 45px;
            height: min-content;
        }
        .content{
            width: 90%;
            height: fit-content;
            position: relative;
            left: 5%;
            bottom: 20px;
        }
        h3 {
            position: relative;
            top: 5px;
            font-family: 'Times New Roman', Times, serif;
        }
        #skill-title{
            font-weight: bolder;
            font-size: calc(1rem + 1vw);
            text-align: center;
            width: 100%;
            height: min-content;
        }
        li {
            font-size:2vh;
            position: relative;
            left: 5%;
        }
        .gifs{
            height: 25vh;
        }
        #yellow-gif{
            position: relative;
            bottom: 675px;
            left: 50%;
            width: 80%;
        }
        #fish-gif{
            width: 65%;
            position: relative;
            left: 60%;
            bottom: 488px;
            z-index: -1;
        }
        #floor-sign{
            width: 25%;
            position: relative;
            bottom: 453px;
            right: 9%;
            z-index: -2;    
        }
        
        #flush-collapseTwo{
            height: 103vh;
        }
        .category{
            font-weight: bold;
        }
        #resume-pdf{
            position: relative;
            left: 3%;
            font-size:2.5vh;
        }
        #make-top{
            position: absolute
        }
        .projects{
            font-size: 2vh;
        }
        .git-clone{
            display: contents;
        }
        .project-section{
            font-size: 1.25rem;
        }
        .project-list{
            width: fit-content;
        }
}


/* Large Monitor */
@media only screen and (min-width:1920px){
    .wrapper{
        display: flex;
        justify-content: center;
    }
    .profile-card {
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.467);
        backdrop-filter: blur(7px);
        width: 30%;
        height: fit-content;
        position: relative;
        top: 100px;
        border-radius: 10%;
    }
        @keyframes bio-img-animation {
            50% {
                border-color: rgba(74, 74, 173, 0.849);
            }
        }
        #bio-img{
            width: calc(10vh + 2vw);
            border-radius: 50% 50%;
            border:solid 2px;
            animation: bio-img-animation .5s infinite;
            margin: 2%;
            position: relative;
            left: 4%;
        }
        .bio-name{
            padding: 1px;
            width: fit-content;
            position: relative;
            left: 32.5%;
            height:min-content;
            bottom: 100px;
        }
        #name {
            font-size: calc(2rem + .7vw);
            position: relative;
            bottom: -89px;
            right: 30%;
            font-weight: bolder;
        }
        .social-media{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 245px;
        }
        .link{
            width: min-content;
            height: min-content;
            position: relative;
            left: 4%;
            top:7px;
            position: absolute;
        }
            #gmail{
                width: 11vh;
            }
        .link-2{
            width: min-content;
            height: min-content;
            position: relative;
            left: 31.5%;
            position: absolute;
        }
            #whatsapp{
                width: 6vh;
            }
        .link-3{
            width: min-content;
            height: min-content;
            position: relative;
            left: 50%;
            position: absolute;
        }
            #github{
                width: 6.2vh;
            }
        .link-4{
            width: min-content;
            height: min-content;
            position: relative;
            left: 72%;
            position: absolute;
        }
            #linkedin{
                width: 6.3vh;
            }

        .social-media-2{
            width: 70%;
            height: min-content;
            position: relative;
            left: 30%;
            bottom: 160px;
        }
            .link-5{
                width: min-content;
                height: min-content;
                position: relative;
                left: 9%;
                position: absolute;
            }
            #ig{
                width: 7vh;
            }
            .link-6{
                width: min-content;
                height: min-content;
                position: relative;
                left: 30%;
                position: absolute;
            }
            #upwork{
                width: 7vh;
                border-radius: 50%;
            }
            .link-7{
                width: min-content;
                height: min-content;
                position: relative;
                left: 49%;
                top: -17px;
                position: absolute;
            }
            #youtube{
                width: 10vh;
            }
            .link-8{
                width: min-content;
                height: min-content;
                position: relative;
                left: 75%;
                bottom: -60px;
                position: absolute;
            }
            #SO{
                width: 5.5vh;
            }
            #section-label-1{
                position: relative;
                left: 30%;
                font-size: 4vh;
                font-weight:lighter;
            }
            #section-label-2{
                position: relative;
                left: 38%;
                font-size: 4vh;
                font-weight: lighter;
            }
            #section-label-3{
                position: relative;
                left: 33%;
                font-size: 4vh;
                font-weight: lighter;
            }
            #p-emoji{
            display: flex;
            justify-content: center;
            font-size: 45px;
            height: min-content;
        }
        .content{
            width: 90%;
            height: fit-content;
            position: relative;
            left: 5%;
            bottom: 20px;
        }
        h3 {
            position: relative;
            top: 5px;
            font-family: 'Times New Roman', Times, serif;
        }
        #skill-title{
            font-weight: bolder;
            font-size: calc(1rem + 1vw);
            text-align: center;
            width: 100%;
            height: min-content;
        }
        li {
            font-size:2vh;
            position: relative;
            left: 5%;
        }
        .gifs{
            height: 25vh;
        }
        #yellow-gif{
            position: relative;
            bottom: 855px;
            left: 45%;
            width: 80%;
        }
        #fish-gif{
            width: 65%;
            position: relative;
            left: 55%;
            bottom: 675px;
            z-index: -1;
        }
        #floor-sign{
            width: 29%;
            position: relative;
            bottom: 626px;
            right: 16%;
            z-index: -2;   
        }
        
        #flush-collapseTwo{
            height: 100vh;
        }
        .category{
            font-weight: bold;
        }
        #resume-pdf{
            position: relative;
            left: 10%;
            font-size:2.5vh;
        }
        #make-top{
            position: absolute
        }
        .projects{
            font-size: 2vh;
        }
        .git-clone{
            display: contents;
        }
        .project-section{
            font-size: 2rem;
        }
        .project-list{
            width: fit-content;
        }
}